html {
  scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dark-mode {
    filter:invert(1) hue-rotate(180deg);
}

.dark-mode img{
    filter:invert(1) hue-rotate(180deg);
}

.dark-mode body{
    filter:invert(1) hue-rotate(180deg);
}

.cardContainer{
    height: 100vh;  
    /*alinhando*/
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.cardMiddle{
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.containerSocial {
    width: 128px;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    }
