html {
  scroll-behavior: smooth;
}

.cardContainer{
    height: 100vh;  
    /*alinhando*/
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.cardMiddle{
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.containerSocial {
    width: 128px;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    }