body{
    background-color: #000000;
    margin: 0px;
}

h2, h4{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: grid;
    grid-auto-flow: row;
}

.links{
    display: grid;
    grid-auto-flow: column;
    justify-items: space-between;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;   
    
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: #76BEBE;
    color: white;
}

.farmacia{
    display: grid;
    grid-auto-flow: column;
    background-color: #000000;
    color: white;
    height: 174px;
}

    .logo{
        padding-left: 3rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .titulo{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 56px;
        text-align: center;   
    }

#dashboard{
    display: grid;
    grid-auto-flow: column;
}

.content{
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    text-align: center;
}

    form{
        display: grid;
        grid-auto-flow: row;
        max-width: 600px;
    }
    
    label{
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: 200;
        font-size: 25px;
        line-height: 25px;
        color: #FFFFFF;

        text-align: left;
        padding-top: 1rem;
    }
    
    input{
        font-family: 'Alegreya Sans SC';
        border-radius: 10px;
        background-color: rgba(255,255,255,0.57);
        height: 25px;
        width: 467px;
        padding-bottom: 1rem;
    }
    
    .submit-button{
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 46px;
        text-align: center;

        border-radius: 10px;
        height: 52px;
        font-family: 'Alegreya Sans SC';
        background: #76BEBE;
        color: white;

        width: 100%;
        
    }

        .submit-button:hover{
            background-color: #223333;
        }

    table {
        width: 90%;
      }

    tr{
    background: #3E3D3D;
    color: white;
}

.top{
    padding-top: 1rem;
}

