body{
    background-color: black;
    background-size: auto;
    width: 100%;
    overflow: hidden;
}

.centro{
    text-align: center;
    color: white;
}

.medio{
    height: 15vh;
}

.alto{
    height: 25vh;
}

.muitoAlto{
    height: 35vh;
}

.cobre{
    height: 105vh;
}

.btnControle{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}